.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 2em;
    margin-bottom: 50px;
    background: #444444;
}

.guestbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background-color: #eaeaea;
    color: #676767;
}

.guestbtn:hover {
    opacity: 70%;
}

.btnlink {
    color: #676767;
}