.ul {
    margin: none;
    margin-top: 50px;
    padding: none;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.listitem {
    display: block;
    background-color: white;
    padding: none;
    border: 10px;
    border-color: black;
    margin: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.itembtn {
    color: black;
    border: none;
    margin: none;
    padding: 10px;
    background-color: none;
    font-weight: 600;
    font-size: 1em;
    opacity: 80%;
    cursor: pointer;
}