.sidebarList {
    margin: none;
    padding: 0px 0px 0px 0px;
}

.listitem {
    display: block;
    background-color: white;
    padding: 5px;
    border: 10px;
    border-color: black;
    margin-top: 5px;
}