.footer {
    position: fixed;
    text-align: center;
    background-color: #444444;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
  }
  
  .footer .footer-separator {
    padding: 0 8px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #2b5e68;
  }
  
  .blackbtn {
    border-color: var(--text-black) !important;
    text-decoration: none;
  }
  
  .footer .footer-p {
    color: white;
    font-size: small;
    padding-top: 10px;
    text-align: center;
  
  }